<!-- About Us -->
<div class="container" id="about">
  <div class="jumbotron">
    <h2>About ShaurmUber - service</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus
      massa id lorem varius, non suscipit lacus luctus. Aenean non ante sit amet
      felis pellentesque facilisis non in nibh.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus
      massa id lorem varius, non suscipit lacus luctus. Aenean non ante sit amet
      felis pellentesque facilisis non in nibh.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus
      massa id lorem varius, non suscipit lacus luctus. Aenean non ante sit amet
      felis pellentesque facilisis non in nibh.
    </p>
  </div>
  <hr>
</div>

<!-- Contacts -->
<div class="container" id="contacts">
  <div class="jumbotron">
    <h2>Contacts</h2>
    <p>Phone number: +38(044) 222-22-22</p>
    <p>Email: shaurmuber@gmail.com</p>
  </div>
  <hr>
</div>

<!-- Privacy Policy -->
<div class="container" id="privacy">
  <div class="jumbotron">
    <h2>Privacy Policy</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus
      massa id lorem varius, non suscipit lacus luctus. Aenean non ante sit amet
      felis pellentesque facilisis non in nibh.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum cursus
      massa id lorem varius, non suscipit lacus luctus. Aenean non ante sit amet
      felis pellentesque facilisis non in nibh.
    </p>

    <p>
      According to legislation of Ukraine you give permission for collecting and
      using your private data in order to use ShaurmUber services.
    </p>
    <p>
      All disagreements and disputes are resolved according to the legislation
      of Ukraine in accordance with the procedure established by law.
    </p>
  </div>
  <hr>
</div>

<!-- FAQ -->
<div class="container" id="faq">
  <div class="jumbotron">
    <h2>Frequently Asked Questions:</h2>
    <ul class="list-group">
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          </div>
          <div class="panel-body">
            Vestibulum cursu massa id lorem varius, non suscipit lacus luctus.
          </div>
        </div>
      </li>

      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          </div>
          <div class="panel-body">
            Vestibulum cursu massa id lorem varius, non suscipit lacus luctus.
          </div>
        </div>
      </li>

      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
          </div>
          <div class="panel-body">
            Vestibulum cursu massa id lorem varius, non suscipit lacus luctus.
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
