{% include "base/header.html" %}

<body class="">
<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <table class="main">
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <h2>Confirm Password reset</h2>

                    <p>Hello, {{ first_name }} {{ last_name }}.</p>

                    <p>To confirm your <b>password reset</b>, please, follow the link below.</p>
                    <!-- Button -->
                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                        <tr>
                          <td align="left">
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td> <a href="{{ otc_url }}" target="_blank">Confirm</a> </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

{% include "base/footer.html" %}