<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Thank you for using ShaurmUber!</h3>
            <p>For successful order's delivery you have to pay your bills.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <div class="col-md-3 col-md-offset-4">
                Title: {{order.title}}<br>
                Courier: {{order.curier.first_name}} {{order.curier.last_name}}<br>
                Price: {{order.delivery_price + order.order_price}}<br>
                Description: {{order.description}}<br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <br>
            <form ngNoForm method="post" action="https://www.liqpay.ua/api/3/checkout/" accept-charset="utf-8">
                <input type='hidden' name='data' value={{payment.data}} />
                <input type='hidden' name='signature' value={{payment.signature}} />
                <button class="btn btn-primary btn-lg" type="submit" style="vertical-align:middle">
                    <span>Pay the order </span>
                </button>
                <!--<input type="submit" class="btn btn-success btn-lg" value="Pay the order" name="btn_text" />-->
            </form>
        </div>
    </div>
</div>
